<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <!--<appSettings>
    <add key="authority" value="https://login.microsoftonline.com/095f0976-bf66-4d76-bf29-0fbab0884ecb" />
    <add key="serviceUrl" value="https://mmdevphase2.crm.dynamics.com/" />
    <add key="KeyVaultUrl" value="https://mmazsmp-pp-crm-akv01.vault.azure.net/secrets/" />
    <add key="clientIdSecretName" value="clientId" />
    <add key="ClientSecretName" value="secret" />
    <add key="organizationUrl" value="https://mmdevphase2.crm.dynamics.com" />
    <add key="resourceURL" value="https://mmdevphase2.api.crm.dynamics.com/api/data/v9.1/" /> 
  </appSettings>-->
  <appSettings>
    <add key="authority" value="https://login.microsoftonline.com/095f0976-bf66-4d76-bf29-0fbab0884ecb" />
    <add key="clientId" value="dbbfed03-5023-410b-b588-8db70a61c8af" />
    <add key="secret" value="rFzxuRtO20n@BywqSIn_i7Y]5Q]nnAMQ" />
    <add key="serviceUrl" value="https://mmdev.crm.dynamics.com" />
    <add key="KeyVaultUrl" value="https://mmazsmp-d-crm-akv01.vault.azure.net/secrets/" />
    <add key="clientIdSecretName" value="clientId" />
    <add key="organizationUrl" value="https://mmdev.crm.dynamics.com" />
    <add key="resourceURL" value="https://mmdev.api.crm.dynamics.com/api/data/v9.1/" />
    <add key="ClientSecretName" value="secret" />
    <add key="JobFrequency" value="-1" />
  </appSettings>

  <!--<appSettings>
    <add key="authority" value="https://login.microsoftonline.com/095f0976-bf66-4d76-bf29-0fbab0884ecb" />
    <add key="clientId" value="156d5a4b-0618-46cd-9b8c-a70e17d0eba1" />
    <add key="secret" value="wa1L:.]7=NnBR7l0?sTYn6ZytngidJPs" />
    <add key="serviceUrl" value="https://mmsitphase2.crm.dynamics.com" />
    <add key="KeyVaultUrl" value="https://mmazsmp-q-crm-akv01.vault.azure.net/secrets/" />
    <add key="clientIdSecretName" value="clientId" />
    <add key="organizationUrl" value="https://mmsitphase2.crm.dynamics.com" />
    <add key="resourceURL" value="https://mmsitphase2.api.crm.dynamics.com/api/data/v9.1/" />
    <add key="ClientSecretName" value="secret" />
    <add key="JobFrequency" value="-1" />
  </appSettings>-->
  <!--<appSettings>
    <add key="authority" value="https://login.microsoftonline.com/095f0976-bf66-4d76-bf29-0fbab0884ecb" />
    <add key="serviceUrl" value="https://mmdevphase2.crm.dynamics.com/" />
    <add key="KeyVaultUrl" value="https://mmazsmp-d-crm-akv01.vault.azure.net/secrets" />
    <add key="clientIdSecretName" value="clientId" />
    <add key="ClientSecretName" value="secret" />
    <add key="organizationUrl" value="https://mmdevphase2.crm.dynamics.com" />
    <add key="resourceURL" value="https://mmdevphase2.api.crm.dynamics.com/api/data/v9.1/" />
    <add key="_receiverMailId" value="bharath.karunakaran@infosys.com; Kathirvel_B @infosys.com; Divakar_Gandhi @infosys.com; kishore.perumogina @infosys.com; nagasrikar.dhupam @infosys.com"/>
    <add key="_senderMailId" value="Svc-MSDCRM-Prod@movement.com" />
    <add key="_senderPass" value="Movehome@12345" />
  </appSettings>-->

  <!--<appSettings>
    <add key="authority" value="https://login.microsoftonline.com/095f0976-bf66-4d76-bf29-0fbab0884ecb" />
    <add key="serviceUrl" value="https://mmsitphase2.crm.dynamics.com/" />
    <add key="KeyVaultUrl" value="https://mmazsmp-pp-crm-akv01.vault.azure.net/secrets/" />
    <add key="clientIdSecretName" value="clientId" />
    <add key="ClientSecretName" value="secret" />
    <add key="organizationUrl" value="https://mmsitphase2.crm.dynamics.com" />
    <add key="resourceURL" value="https://mmsitphase2.api.crm.dynamics.com/api/data/v9.1/" />
  </appSettings>-->

  <!--<appSettings>
    <add key="authority" value="https://login.microsoftonline.com/095f0976-bf66-4d76-bf29-0fbab0884ecb" />
    <add key="serviceUrl" value="https://mortgageapp.crm.dynamics.com/" />
    <add key="KeyVaultUrl" value="https://mmazsmp-pp-crm-akv01.vault.azure.net/secrets/" />
    <add key="clientIdSecretName" value="clientId" />
    <add key="ClientSecretName" value="secret" />
    <add key="organizationUrl" value="https://mortgageapp.crm.dynamics.com" />
    <add key="resourceURL" value="https://mortgageapp.api.crm.dynamics.com/api/data/v9.1/" />
    <add key="_receiverMailId" value="bharath.karunakaran@infosys.com; Kathirvel_B @infosys.com; Divakar_Gandhi @infosys.com; kishore.perumogina @infosys.com; nagasrikar.dhupam @infosys.com"/>
    <add key="_senderMailId" value="Svc-MSDCRM-Prod@movement.com" />
    <add key="_senderPass" value="Movehome@12345" />
  </appSettings>-->
  <!-- App Settings for Production Environment-->
  <!--<appSettings>
    <add key="authority" value="https://login.microsoftonline.com/095f0976-bf66-4d76-bf29-0fbab0884ecb" />
    <add key="serviceUrl" value="https://movehome.crm.dynamics.com/" />
    <add key="KeyVaultUrl" value="https://mmazsmp-p-crm-akv01.vault.azure.net/secrets/" />
    <add key="clientIdSecretName" value="clientId" />
    <add key="ClientSecretName" value="secret" />
    <add key="organizationUrl" value="https://movehome.crm.dynamics.com" />
    <add key="resourceURL" value="https://movehome.api.crm.dynamics.com/api/data/v9.1/" />
    <add key="_receiverMailId" value="bharath.karunakaran@infosys.com; Kathirvel_B @infosys.com; Divakar_Gandhi @infosys.com; kishore.perumogina @infosys.com; nagasrikar.dhupam @infosys.com"/>
    <add key="_senderMailId" value="Svc-MSDCRM-Prod@movement.com" />
    <add key="_senderPass" value="Movehome@12345" />
  </appSettings>-->
  <!--<appSettings>
    <add key="authority" value="https://login.microsoftonline.com/095f0976-bf66-4d76-bf29-0fbab0884ecb" />
    <add key="serviceUrl" value="https://movehome.crm.dynamics.com/" />
    <add key="KeyVaultUrl" value="https://mmazsmp-p-crm-akv01.vault.azure.net/secrets/" />
    <add key="clientIdSecretName" value="clientId" />
    <add key="ClientSecretName" value="secret" />
  </appSettings>-->
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Clients.ActiveDirectory" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.8.0" newVersion="5.2.8.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>