<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
    </startup>
  <appSettings>
    <add key="Environment" value="https://mmdevphase2.api.crm.dynamics.com/XRMServices/2011/Organization.svc"/>
    <add key="Username" value="murali.thiagarajan@movement.com"/>
    
    <!--<add key="domainname" value="murali.thiagarajan@movement.com"/>-->
    <!--<add key="domainname" value="Nachiket_Deshpande@movement.com"/>-->
     <!--<add key="domainname" value="vijitha.munirathnam@movement.com"/>-->
    <add key="domainname" value="murali.thiagarajan@movement.com"/>
    <add key="FilePath" value="D:\\ErrorLog"/>
  </appSettings>
</configuration>
