<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="authority" value="https://login.microsoftonline.com/095f0976-bf66-4d76-bf29-0fbab0884ecb" />
    <add key="clientId" value="dbbfed03-5023-410b-b588-8db70a61c8af" />
    <add key="secret" value="rFzxuRtO20n@BywqSIn_i7Y]5Q]nnAMQ" />
    <add key="serviceUrl" value="https://mmdevphase2.crm.dynamics.com" />
    <add key="KeyVaultUrl" value="https://mmazsmp-d-crm-akv01.vault.azure.net/secrets/" />
    <add key="clientIdSecretName" value="clientId" />
    <add key="ClientSecretName" value="secret" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.3" newVersion="4.1.1.3" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>